<div class="container" ng-init="ratequery.init()">
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <label class="form-label" for="from">City</label>

      <select class="form-control input-sm" id="city" ng-model="ratequery.selectedOption" ng-options="CITY as CITY.LOCATIONNAME for CITY in ratequery.city | orderBy : 'LOCATIONNAME'" ng-change="ratequery.getAllFuelRates(ratequery.selectedOption.LOCATIONID)" required>
        <option value=""></option>
      </select>
    </div>
    <div class="col-sm-3 col-md-3">
      <label class="form-label" for="fromdate">From Date
      </label>
      <input type="date" class="form-control input-sm" id="fromdate" placeholder="yyyy-MM-dd" ng-model="ratequery.FUELFROMDATE">
    </div>
    <div class="col-sm-3 col-md-3">
      <label class="form-label" for="todate">To Date
      </label>
      <input type="date" class="form-control input-sm" id="todate" placeholder="yyyy-MM-dd" ng-model="ratequery.FUELTODATE">
    </div>
    <div class="col-sm-3 col-md-3">
      <br/>
      <button class="btn btn-primary pull-right"  ng-click="fuelrate.search()"> <i class="glyphicon glyphicon-search"> </i>&nbsp;Search
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <table class="table mll-table">
        <thead>
          <tr>
            <th  class="text-left">City</th>
            <th  class="text-left">Rate</th>
            <th  class="text-left">Last Updated Date</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="fuelrate in ratequery.fuelRates | filter: ratequery.selectedOption.LOCATIONNAME" >
            <td >
              {{fuelrate.LOCATIONNAME}}
            </td>
            <td class="text-center">
              {{fuelrate.RATE}}
            </td>
            <td  class="text-right">
              {{fuelrate.FUELDATE}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
