/**
*  If you want to override some bootstrap variables, you have to change values here.
*  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
*/
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/"; /* colors swatch */
$mll-red: rgb(227, 24, 55);
$mll-white: rgb(255, 255, 255);
$mll-grey: rgb(109, 110, 113);
$mll-darkgrey: rgb(51, 51, 51);
$mll-mediumgrey: rgb(64, 64, 64);
$mll-black: rgb(14, 9, 7); /* button colors */
$btn-primary-bg: $mll-white;
$btn-primary-color: $mll-red;
$btn-primary-border: $mll-red;
$btn-font-weight: bold; /* font */
$navbar-inverse-link-color: $mll-white;
$navbar-inverse-bg: $mll-red;
/**
*  Do not remove the comments below. It's the markers used by wiredep to inject
*  sass dependencies when defined in the bower.json of your dependencies
*/
// bower:scss
// endbower
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

body {
  padding-top: 70px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-image: url(../assets/images/login_bg.png);

  &.isloggedin {
    background-image: none;
  }

}

.btn-primary {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-width: 2px;
}

.fieldset {
  margin-bottom: 10px;
}

.legend {
  color: $mll-red;
  font-weight: bold;
  font-style: normal;
  font-size: 14px; /*line-height: 1px;*/
  text-transform: uppercase;
  background: $mll-white;
  border-top: 1px solid lighten($mll-grey, 50);
  border-bottom: 1px solid lighten($mll-grey, 50);
  padding: 10px 0;
}

.top-legend {
  border-top: 1px solid lighten($mll-grey, 90);
}

.form-label {
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  color: $mll-grey;
}

form{
  margin-bottom: 3em;
}

h1 {
  font-weight: bold;
  font-style: normal;
  color: $mll-darkgrey;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0;
  padding: 0;
  position: relative;
  top: -7px;
}

.btn-default {
  font-weight: bold;
  font-size: 12px;
  border: solid 1px $mll-grey; /*border-radius: 20px;*/
  text-transform: uppercase;
}

.form-divider {
  border-bottom: solid 1px rgb(229, 229, 229);
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-required {
  font-size: 60%;
  color: $mll-red;
  position: relative;
  top: -4px;
}

.nav-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 51px;
  border-bottom: solid 1px lighten($mll-grey, 50);
}

.navbar-default {
  border-bottom: 2px solid $mll-red;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

/* grid css */
.mll-table {
  &.frozen {
    thead {
      background-color: $mll-white;

      th {
        color: $mll-grey;
      }
    }
    tbody {
      tr {
        background-color: $mll-white;
      }
    }
  }
  thead {
    background-color: $mll-grey;
    color: $mll-white;

    th {
      position: relative;
      font-weight: normal;
      font-size: 86%;
      color: rgba(255, 255, 255, .7);
      white-space: nowrap;
      text-align: center;
      vertical-align: middle !important;
      border-bottom: 1px solid lighten($mll-grey, 7);

      span {
        display: inline-block;
      }
      &:not(:nth-last-child(-n+1))::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 7px;
        top: 7px;
        width: 1px;
        border-left: 1px solid lighten($mll-grey, 7);
      }
      &.highlight {
        background-color: rgb(110, 116, 104);
      }
      &.whitecol {
        background-color: $mll-white;
        color: $mll-grey;
        vertical-align: middle;
        border-top: 2px solid lighten($mll-grey, 40) !important;
        &::after {
          border-left: none;
        }
      }
    }
  }
  tbody {
    user-select: none;
    tr {
      background-color: rgb(244, 244, 244);
      //rgb(244, 244, 244);
      color: $mll-grey;

      td {
        position: relative;
        white-space: nowrap;
        vertical-align: middle;

        span {
          display: inline-block;
        }
        &:not(:nth-last-child(-n+1))::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 7px;
          top: 7px;
          width: 1px;
          border-left: 1px solid lighten($mll-grey, 45);
        }
        &.highlight {
          background-color: rgb(243, 249, 235);
          text-align: center !important;
          width: 110px;
        }
        &.whitecol {
          background-color: $mll-white;
          &::after {
            border-left: none;
          }
        }
        &.fixed-width-col {
          text-align: center;
          width: 60px;
          font-weight: 700;
        }
        &.open-popup:hover span {
          font-size: 1.2em;
        }
        &.number-right {
          text-align: right;
          padding-right: 35px;
        }
        hr {
          margin: 5px 0 0 0;
          padding: 5px 0 0 0;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
      &:hover {
        background-color: lighten($mll-darkgrey, 70);
        cursor: pointer;
      }
      &.rate-details {
        background-color: $mll-white;
        color: $mll-darkgrey;
      }
    }
  }
}

.below {
  color: red;
}

.above {
  color: green;
}

.value-available {
  background-color: rgb(183,230,174);
}

.loginbody {
  background: url(../images/login.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loginboxBody {
  background: #fefefe;
  border-top: 1px solid #dde0e8;
  padding: 10px 0 5px 40px;
  border: none;
}

.loginbox-footer {
  border-top: 1px solid #fff;
  padding: 0 96px 15px 125px;
  overflow: hidden;
  height: 32px;
}

.button-login {
  background-color: #00AEEF;
  border: 1px solid #00AEEF;
  padding: 3px 6px;
  font: bold 20px Arial;
  cursor: pointer;
  margin: 3px 45px 4px;
  -moz-border-radius: 10px;
  border-radius: 5px;
  width: 315px;
  height: 40px;
  color: #fff;
  text-transform: uppercase;
}

.filter-details {
  background-color: $mll-darkgrey;
  color: $mll-white;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 12px;
}

.filter-margin {
  //margin-right: 10px 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;

}

.btn-rounded {
  border-radius: 20px;
  width: 160px;
}

/* Top toggle switch */
.switch-field {
  //padding: 40px;
  overflow: hidden;
  font-weight: bold;
  margin-top: -8px;
}

.switch-field input {
  display: none;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 160px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: lighten($mll-darkgrey, 10);
  color: $mll-white;
  z-index: 1;
}

.switch-field label:first-of-type {
  border-radius: 16px 16px 16px 16px;
  position: relative;
  left: 10px;
  z-index: 0;
}

.switch-field label:last-of-type {
  border-radius: 16px 16px 16px 16px;
  position: relative;
  left: -10px;
  z-index: 0;
}

/* Top toggle switch */
.unit {
  position: relative;
  top: 15px;
  font-size: 12px;
  color: $mll-grey;

  &.unitlegend {
    top: 0px;
  }
}

.unit-modal {
  top: 30px;
  font-size: 12px;
  color: $mll-grey;
}

.table-colspan-header {
  border-bottom: 1px solid lighten($mll-grey, 20) !important;
}

.table-colspan-header-sm {
  width: 10px;
}

/* grid scoll css */
.output-table {
  position: relative;
  width: 100%;
  height: 70vh;
}

.thead-div1, .thead-div2, .tbody-div3, .tbody-div4 {
  overflow: hidden;
  position: absolute;

  .mll-table {
    position: relative;
  }
}

.thead-div2, .tbody-div4 {
  border-left: 1px solid lighten($mll-darkgrey, 60);
}

.tbody-div3, .tbody-div4 {
  margin-bottom: 20px;
}

.thead-div1 {
  width: 440px;
  height: 32px;
  top: 0;
  left: 0;
  border-top: 1px solid lighten($mll-darkgrey, 60);
}

.tbody-div3 {
  top: 32px;
  bottom: 0;
  width: 440px;
  left: 0;
  border-bottom: 1px solid lighten($mll-darkgrey, 60);
}

.thead-div2 {
  height: 32px;
  top: 0;
  left: 440px;
  right: 0;
  border-top: 1px solid lighten($mll-darkgrey, 60);
}

.tbody-div4 {
  top: 32px;
  bottom: 0;
  right: 0;
  left: 440px;
  overflow: auto;
  border-bottom: 1px solid lighten($mll-darkgrey, 60);
}

.highlight-rate {
  background-color: rgb(141, 199, 63);
  margin-bottom: -10px;
  margin-top: -20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  color: $mll-white;
  text-align: center;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(141, 199, 63);
  margin-left: 4%;
  position: absolute;
  margin-top: -5px;
}

.mll-table-rate {
  background-color: $mll-white;
  color: $mll-darkgrey;
}

.mll-table-label {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 5px;
  text-align: center;

  &:not(.exclude) {
    color: $mll-grey;
  }
}

.mll-table-value {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;

  &:not(.exclude) {
    color: $mll-grey;
  }
}

.input-placeholder {
  font-style: italic;
}

.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 30px;
}

.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}

.search-form {
  border-radius: 30px 30px 30px 30px;
  /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}

.radio-rate {
  transform: scale(2.5);
  width: 30px;
  vertical-align: middle;
}

.radio-rate:checked {
  outline: none !important;
}

.tbody-div4::-webkit-scrollbar {
  height: 8px;
  background-color: lighter($mll-darkgrey, 90);
}

.tbody-div4::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 10px;
  background-color: $mll-red;
}

.tbody-div4::-webkit-scrollbar-thumb:hover {
  background-color: $mll-red;
}

.tbody-div4::-webkit-scrollbar-thumb:active {
  background-color: $mll-red;
}

.tbody-div4::-webkit-scrollbar-track {
  //-webkit-box-shadow: 0 0 2px gray inset;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $mll-red;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: $mll-red;
}

.dashboard-buttons {
  margin-top: -8px !important;

}

/* login page  */
.loginbody {
  background: url(../assets/images/login_bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: -20px;
  padding-top: 40px;
  padding-bottom: 115px;
}
.form-signout {
  cursor: pointer;
}
.form-signin {
  max-width: 300px;
  max-height: 300px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 20px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 20px;
  margin-bottom: 40px;
  padding-left: 20px;
}

.account-wall {
  margin-top: 20px;
  padding: 10px 0px 20px 0px;
  background-color: $mll-white;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.corner-img {
  margin-top: -10px;
  border-radius: 10px;
  width: 300px;
}

.profile-img {
  //width: 96px;
  //height: 96px;
  margin: 0 auto 10px;
  display: block;
  //-moz-border-radius: 50%;
  //-webkit-border-radius: 50%;
  //border-radius: 50%;
}

.need-help {
  margin-top: 10px;
}

.new-account {
  display: block;
  margin-top: 10px;
}

.btn-signin {
  border-radius: 20px;
  background-color: $mll-red !important;
  color: $mll-white !important;
  margin-bottom: 30px;
  outline: none !important;
}

.mll-table-input {
  background: transparent;
  border: 0;
  box-shadow: none;
  height: 2.0em;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.badge {

  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0px;
  background-color: #e6e6e6;
  border: 1px;
  text-color: mll-black;
}

.label-sticky {
  position: absolute;
  top: 0;
  right: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8em;
  color: $mll-red;
}

.input-text-center {
  text-align: center;
}

.label-thin{
  font-weight: 300;
}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progressbar {
    line-height: 300px;
}

.progress div {
    font-size: smaller;
    background: aqua;
    width: 0;
}

.statusup{
    background-color: #9fdfbf;
}
.statusdown{
    background-color: #ffcccc;
}

.statustaken{
    background-color:red;
    width:10px;
    height:100%;
}

.legend-color-statusup {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #9fdfbf;
}

.legend-color-statusdown {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffcccc;
}

.legend-color {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #b3c6ff;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

/* login page  */

/**
*  Do not remove the comments below. It's the markers used by gulp-inject to inject
*  all your sass files automatically
*/
// injector
// endinjector
