/* colors swatch */
$mll-red: rgb(227,24,55);
$mll-white: rgb(255,255,255);
$mll-grey: rgb(109,110,113);
$mll-darkgrey: rgb(51,51,51);
$mll-mediumgrey: rgb(64,64,64);
$mll-black: rgb(14,9,7);

/* button colors */
$btn-primary-bg: $mll-white;
$btn-primary-color: $mll-red;
$btn-primary-border: $mll-red;


$navbar-inverse-link-color: $mll-white;
$navbar-inverse-bg: $mll-red;

